@import url('https://fonts.cdnfonts.com/css/general-sans');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

@font-face {
  font-family: boldsans;
  src: url(/fonts/BBHSansBartle.ttf);
}

@font-face {
  font-family: curlysans;
  src: url(/fonts/curlyFont.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/fonts/RobotoSlab.ttf);
}

@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  font-family: 'General Sans', sans-serif;
}


/* .hover-underline {
  background-image: linear-gradient(to right, white, white);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: 0 100%;
  transition: background-size 0.3s ease-out;
  cursor: pointer;
} */
.hover-underline {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: 0 100%;
  transition: background-size 0.3s ease-out;
  cursor: pointer;
}
 

@layer utilities {
  /* .arrow-gradient {
    background-image: linear-gradient(to right,
        rgba(255, 255, 255, 0.1) 10%,
        rgba(255, 255, 255, 0.000025) 50%,
        rgba(255, 255, 255, 0.000025) 50%,
        rgba(255, 255, 255, 0.025) 100%);
  } */

  .c-space {
    @apply sm:px-10 px-5;
  }

  .nav-ul {
    @apply flex flex-col text-gray-400 items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white max-sm:hover:bg-black max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base text-gray-400 hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 text-gray-400 bg-black/40 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-gray-700 transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray-400;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  .hero_tag {
    @apply text-center xl:text-5xl md:text-4xl sm:text-3xl text-3xl font-[curlysans] !leading-normal;
  }


  .grid-container {
    @apply w-full h-full border border-neutral-800 bg-black/40 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  .arrow-btn {
    /* @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient; */
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full;
  }

  /* .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  } */

  .client-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .client-review {
    @apply rounded-lg md:p-10 p-5 col-span-1 font-semibold bg-gray-900;
  }

  .client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black/40 border border-neutral-800;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black/40 border text-white border-neutral-800;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5 transition-all ease-in-out duration-500 cursor-pointer hover:bg-black/40 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black/60;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black/40 group-hover:bg-black/50 group-last:hidden;
  }

  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-neutral-300;
  }

  .field-input {
    @apply w-full bg-black/40 px-5 py-2 min-h-14 rounded-lg placeholder:text-neutral-400 text-lg text-white shadow-neutral-800 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black/50 px-5 py-2 min-h-12 rounded-lg shadow-neutral-800 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black/40 border border-neutral-800;
  }


}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}



@keyframes wave-animation {

  0%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(14deg);
  }

  30% {
    transform: rotate(-8deg);
  }

  40% {
    transform: rotate(14deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(10deg);
  }
}